<div class="container2 w-bg">
    <canvas id="myCanvas" width="400" height="400"></canvas>

    <div class="control">
        <input type="radio" id="partSquare" name="defaultParticleType" value="square" data-ng-model="defaultParticleType"> <label for="partSquare"> Square</label>
        <input type="radio" id="partCircle" name="defaultParticleType" value="circle" data-ng-model="defaultParticleType"> <label for="partCircle"> Circle</label>  <br />

        <label for="particleNO">Number of particles</label>
        <input type="range" name="particleNO" min="1" max="80" data-ng-model="numberOFparticles">

        <label for="customGravity">Gravity</label>
        <input type="range" name="customGravity" min="-3" max="3" step="0.1" data-ng-model="customGravity" data-ng-change="updateGravity()">



        <label for="particleSize">Particle Size</label>
        <input type="range" name="particleSize" min="1" max="100" data-ng-model="particleSize" data-ng-change="setParticleSize()">

        <label for="randomParticleLife">Custom particle life?</label>
        <input type="checkbox" name="randomParticleLife" data-ng-model="randomParticleLife" data-ng-change="setRandomLife()"> <br />

        <label for="particleLife" data-ng-show="randomParticleLife">Particle life</label>
        <input type="range" name="particleLife" min="5" max="300" data-ng-model="particleLife" data-ng-change="setParticleLife()" data-ng-show="randomParticleLife">

        <!-- http://codepen.io/buberdds/full/fBAsr/ -->
        <label for="randomParticleColor">Custom Particle color?</label>
        <input type="checkbox" name="randomParticleColor" data-ng-model="randomParticleColor" data-ng-change="updateColor()"> <br />
        <span data-ng-show="randomParticleColor">Choose color</span> <input colorpicker="rgba" colorpicker-position="right" ng-model="rgbaPicker.color" type="text" data-ng-show="randomParticleColor" data-ng-change="updateColor()">


    </div>

</div>
