<div class="container2 w-bg">
    <canvas id="myCanvas" width="400" height="400"></canvas>

    <div class="control">
        <label for="particleNO">Number of particles</label>
        <input type="range" name="particleNO" min="1" max="80" data-ng-model="numberOFparticles">

        <label for="particleSize">Particle Size</label>
        <input type="range" name="particleSize" min="1" max="100" data-ng-model="particleSize" data-ng-change="setParticleSize()">

        <label for="randomParticleLife">Custom particle life?</label>
        <input type="checkbox" name="randomParticleLife" data-ng-model="randomParticleLife" data-ng-change="setRandomLife()"> <br />

        <label for="particleLife" data-ng-show="randomParticleLife">Particle life</label>
        <input type="range" name="particleLife" min="5" max="300" data-ng-model="particleLife" data-ng-change="setParticleLife()" data-ng-show="randomParticleLife">


    </div>

</div>
