<div id="top_header">
    <div class="container">
        <div class="header_col">
            <a href="#"><img src="src/styles/assets/gfx/icesubs-dark2.png" id="logo" alt="logo"/></a>
        </div>

        <div class="header_col">
            <input type="text" placeholder="Please enter your search" class="search" />
            <input type="button" value="search" class="button blue" />
        </div>
    </div>
</div>

<div id="menu_header">
    <div class="container">
        <div id="menubar">
            <ul>
                <li><a href="#">All</a></li>
                <li><a href="#">Popular</a></li>
                <li><a href="#">Newest</a></li>
                <li><a href="#">Suggestions</a></li>
                <li><a href="#">Create</a></li>
            </ul>
        </div>
    </div>
</div>
