<div class="flank">
<h1 id="series">Latest Uploads</h1>
	<table>
		<tr>
			<td><a href="#">Particle affect 1</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
		<tr>
			<td><a href="#">Particle affect 2</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
		<tr>
			<td><a href="#">Particle affect 3</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
		<tr>
			<td><a href="#">Particle affect 4</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
		<tr>
			<td><a href="#">Particle affect 5</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
		<tr>
			<td><a href="#">Particle affect 6</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
		<tr>
			<td><a href="#">Particle affect 7</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
		<tr>
			<td><a href="#">Particle affect 8</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
		<tr>
			<td><a href="#">Particle affect 9</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
	</table>
</div>
<div class="middle">
	<h1 id="suggestions">Suggestions <span id="newSuggestion"><a href="">+</a></span></h1>
	<table>
		<tr>
			<td><a href="#">Pulp fiction</a></td>
			<td>Upvote</td>
		</tr>
		<tr>
			<td><a href="#">Contraband</a></td>
			<td>Upvote</td>
		</tr>
		<tr>
			<td><a href="#">The Dark Knight</a></td>
			<td>Upvote</td>
		</tr>
		<tr>
			<td><a href="#">The Dark Knight raises</a></td>
			<td>Upvote</td>
		</tr>
		<tr>
			<td><a href="#">Schindler's List</a></td>
			<td>Upvote</td>
		</tr>
		<tr>
			<td><a href="#">Schindler's List</a></td>
			<td>Upvote</td>
		</tr>
		<tr>
			<td><a href="#">12 Angry Men</a></td>
			<td>Upvote</td>
		</tr>
		<tr>
			<td><a href="#">12 Angry Men</a></td>
			<td>Upvote</td>
		</tr>
		<tr>
			<td><a href="#">12 Angry Men</a></td>
			<td>Upvote</td>
		</tr>

	</table>
</div>

<div class="flank">
<h1 id="popular">Popular</h1>
	<table id="rightBorder">
		<tr>
			<td><a href="#">Particle affect 1</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
		<tr>
			<td><a href="#">Particle affect 2</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
		<tr>
			<td><a href="#">Particle affect 3</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
		<tr>
			<td><a href="#">Particle affect 4</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
		<tr>
			<td><a href="#">Particle affect 5</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
		<tr>
			<td><a href="#">Particle affect 6</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
		<tr>
			<td><a href="#">Particle affect 7</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
		<tr>
			<td><a href="#">Particle affect 8</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
		<tr>
			<td><a href="#">Particle affect 9</a></td>
			<td><img src="src/styles/assets/gfx/icon_dl.png" alt="Download"></td>
		</tr>
	</table>
</div>
