<div class="container w-bg">

		<div class="col80 rounded">
			<h2 class="suggestion">Suggestions</h2>
			<p>These are suggestions for needed particle affects to be uploaded. Click on any title to create the media translation.</p>
		</div>
		<div class="col80 rounded">

			<table class="result">
	            <thead>
	                <tr>
	                    <td>Title</td>
	                    <td>Votes</td>
	                </tr>
	            </thead>

	                <tr>
	                    <td><a href="#">Suggested Particle affect 1</a> </td>
	                    <td>13</td>
	                </tr>
	                <tr>
	                    <td><a href="#">Suggested Particle affect 2</a> </td>
	                    <td>12</td>
	                </tr>
	                <tr>
	                    <td><a href="#">Suggested Particle affect 3</a> </td>
	                    <td>9</td>
	                </tr>
	                <tr>
	                    <td><a href="#">Suggested Particle affect 4 </a> </td>
	                    <td>7</td>
	                </tr>
	                <tr>
	                    <td><a href="#">Suggested Particle affect5 </a> </td>
	                    <td>2</td>
	                </tr>
	                <tr>
	                    <td><a href="#">Suggested Particle affect 6</a></td>
	                    <td>15</td>
	                </tr>

	        </table>

		</div>
	</div>
