html, body {
    margin: 0;
}

body {
    background-color: #1c1f1b;
    font-family: 'Roboto';
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

.body {
    width: 1200;
}

p {
    font-size: 1em;
}

.smallFont {
    font-size: 1em;
}

ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.5em;
    font-family: Oswald;
}

a {
    text-decoration: none;
    color: #c89200;
    font-size: 1.2em;
    text-transform: uppercase;
}

a:hover {
    color: #fff;
}

h2 {
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 1.6em; 
    text-transform: uppercase;
    color: #a2a2a2;
    font-family: Oswald;
} 

p {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 1.2em;
    color: #fff;
    font-weight: 200;
} 

.blue {
    color: #35abc3;
}

.orange {
    color: #e69a08;
}

.red {
    color: #ec4c72;
}



/* ---------------------------
   ========= Contents ========
   --------------------------- */

header {
    padding: 5px;
    width: 100%;
    height: 55px;
    background-color: #000;
    border-bottom: 1px #2f2f2c solid;
}

img {
    -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.31);
    box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.31);
}


#logo {
    float: left;
    margin: 0 0 0 10px;
    width: 270px;
    font-size: 3em;
    font-family: Oswald;
    color: #d0d0b4;
    letter-spacing: 1em;
}

#navbar {
    margin-top: 0.8em;
    margin-left: 50em;
    float: left;
}

#wrapper {
    float: left;
    background-color: #1a1c1a;
    -webkit-box-shadow: 10px 10px 33px 5px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 10px 33px 5px rgba(0,0,0,0.27);
    box-shadow: 10px 10px 33px 5px rgba(0,0,0,0.27);
}

#leftMenu {
    float: left;
    width: 320px;
    min-height: 650px;
}

#center {
    width: 500px;
    min-height: 500px;
    float: left;
    background-color: #000;
    border-bottom: 1px #2f2f2c solid;
}



#right {
    float: left;
}

.emitter {
    width: 400px;
}

.pad10 {
    padding: 10px;
}

.ctrlLeft {
    float: left;
    width: 250px;
    height: 250px;
    background-color: #232421;
}

.ctrlRight {
    float: left;
    width: 148px;
    height: 250px;
}

.content {
    float: left;
    width: 100%;
    min-height: 50px;
    padding: 5px 15px;
}



.collapse {
    width: 100%;
    background-color: black;
}

.panel-collapse {
    float: left;
    width: 100%;
    padding: 0px;
    background-color: #202220;
}

.panel-body {
  padding: 0px;
}
.panel-heading {
  padding: 15px 10px;
  border-bottom: 1px solid #000;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}



.panel-default >.panel-group {
    border: 1px solid red;
}

.panel-default >.panel-heading {
    border-style: 1px solid black;
    background: -moz-linear-gradient(left, #2a3229 0%, #161915 74%, #0a0809 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2a3229), color-stop(74%,#161915), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #2a3229 0%,#161915 74%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
}

.panel-title {
    font-size: 1.4em;
    font-family: Oswald;
}

.panel-title > a {
    color: #c89200;
    text-decoration: none;
}

.panel-title > a:hover {
    color: #fff;
    text-decoration: none;
}

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 1px;
}

.panel-default {
  border-style: none;
}

.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 0px solid #000;
}
.panel-group .panel-footer {
  border-top: 0;
}




.col1 {
    float: left;
    width: 100px;
    height: 40px;
}

.col2 {
    float: left;
    width: 150px;
}

.col1-2 {
    float: left;
    width: 140px;
    height: 40px;
}

.col2-2 {
    float: left;
    width: 110px;
}

.col3 {
    float: left;
    margin-left: 10px;
    width: 50px;
}

.col3-2 {
    float: left;
    margin: 0 0 10px 10px;
    width: 28%;
}

.right {
    float: right;
    width: 10%;
}

.col50 {
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 36%;
    padding: 9px;
}

.col40 {
    float: left;
    width: 40%;
}

.col51 {
    float: left;
    width: 49%;
}


.col100 {
    float: left;
    width: 100%;
}

.brdRight {
    border-right: 1px #2f2f2c solid;
}

.brdBottom {
    border-bottom: 1px #2f2f2c solid;
}

.brdTop {
    border-top: 1px #4f564b solid;
}

.brdTopDark {
    border-top: 1px #393c38 solid;
}

.brdBottomDark {
    border-bottom: 1px #393c38 solid;
}

.brdLeftBlack {
    border-right: 1px solid #000;
}

.bgDark {
    background: -moz-linear-gradient(left, #2a3229 0%, #161915 74%, #0a0809 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2a3229), color-stop(74%,#161915), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #2a3229 0%,#161915 74%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
}

input {
    margin: 4px 0 0 4px;
    background-color: #2c3029;
    width: 96%;
    height: 28px;
    padding: 5px;
    border-top: 1px solid #191f16;
    border-left: 1px solid #191f16;
    border-bottom: 1px solid #393c38;
    border-right: 1px solid #393c38;
    border-radius: 1px; 
    font-size: 1.5em;
    color: #fff;
}



input:focus {
    background-color: #5e686a;
    border: 1px #1e2930 solid;
    border-radius: 0px;
    color: #fff; 
}

label {
    margin-top: -1.8em;
    margin-left: 3em;
    display: block;
    font-family: Oswald;
    font-size: 1.2em;
    text-transform: uppercase;
}

button {
    margin-top: 10em;
    margin-left: 20em;
    width: 180px;
    height: 28px;
    color: #fff;
    background-color: #4f564b;
    border: none;
    border-radius: 2px;
}

button:hover {
    color: #fff;
    background-color: #000;
}




/*  ==================
    7. TRANSITIONS
    ==================  */

a,
label,
button,
input,
select,
textarea {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}



